<div *ngIf="!article" class="loader-container">
    <div class="loader"></div>
</div>

<div *ngIf="article" class="simulator-container" dir="rtl">
    <p class="simulator-title">{{article.title}}</p>
    <p class="simulator-date">{{article.hebrewDate}}</p>
    <div *ngFor="let section of article.sections" class="simulator-section">
        <p *ngIf="section.header" class="simulator-section-header">{{section.header}}</p>
        <p class="simulator-section-content">{{section.content}}</p>
        <p *ngIf="section.source" class="simulator-section-source">{{section.source}}</p>
    </div>
</div>

<form *ngIf="article" [formGroup]="form" dir="rtl">
    <label for="title">כותרת</label>
    <input id="title"
           formControlName="title"
           class="form-control"
           [class.is-valid]="toShowValid('title')"
           [class.is-invalid]="toShowInvalid('title')"
           placeholder="הכנס כותרת"
           required/>
    <div *ngIf="toShowInvalid('title')" class="invalid-feedback">הכנס כותרת בבקשה.</div>

    <label for="category">קטגוריה</label>
    <select id="category"
            formControlName="category"
            class="form-control"
            matNativeControl
            required>
        <option value="" disabled selected>הכנס קטגוריה</option>
        <option *ngFor="let category of categories" [value]="category.key">{{category.name}}</option>
    </select>
    <div *ngIf="toShowInvalid('category')" class="invalid-feedback">הכנס קטגוריה בבקשה.</div>

    <label for="topic">נושא</label>
    <input id="topic"
           formControlName="topic"
           class="form-control"
           placeholder="הכנס נושא"
           [class.is-valid]="toShowValid('topic')"
           [class.is-invalid]="toShowInvalid('topic')"
           [matAutocomplete]="autocomplete"
           required/>
    <mat-autocomplete #autocomplete>
        <mat-option *ngFor="let topic of filteredTopics" [value]="topic.name">{{topic.name}}</mat-option>
    </mat-autocomplete>
    <div *ngIf="toShowInvalid('topic')" class="invalid-feedback">הכנס נושא בבקשה.</div>

    <label for="date">תאריך</label>
    <div class="date-container">
        <input id="date"
               formControlName="date"
               class="form-control"
               placeholder="הכנס תאריך"
               [class.is-valid]="toShowValid('date')"
               [class.is-invalid]="toShowInvalid('date')"
               matInput
               [matDatepicker]="datepicker"
               [matDatepickerFilter]="dateFilter"
               required/>

        <span class="hebrew-date">{{article.hebrewDate}}</span>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker disabled="false"></mat-datepicker>
    </div>
    <div *ngIf="toShowInvalid('date')" class="invalid-feedback">הכנס תאריך בבקשה.</div>

    <div formArrayName="sections" class="section-list">
        <div *ngFor="let formGroup of form.controls['sections'].controls; let index = index"
             class="section-container"
             [formGroup]="formGroup">

            <label for="header">כותרת משנה</label>
            <input id="header"
                   class="form-control"
                   formControlName="header"
                   placeholder="הכנס כותרת משנה"/>

            <label for="content">תוכן</label>
            <textarea
                class="form-control"
                id="content"
                formControlName="content"
                [class.is-valid]="toShowValid('content', formGroup)"
                [class.is-invalid]="toShowInvalid('content', formGroup)"
                dir="rtl"
                placeholder="הכנס תוכן"
                rows="10"
                required
                minlength="20"></textarea>
            <div *ngIf="toShowInvalid('content', formGroup)" class="invalid-feedback">
                הכנס בבקשה טקסט באורך של לפחות 20 תווים.
            </div>

            <label for="source">מקור</label>
            <input class="form-control"
                   id="source"
                   formControlName="source"
                   placeholder="הכנס מקור"/>

            <button class="btn btn-danger btn-delete-section" (click)="deleteSection(index)">מחק</button>
        </div>
        <button class="btn btn-add-section" (click)="addSection()">+ הוסף קטע</button>
    </div>

    <div *ngIf="successMessage" class="alert alert-success" role="alert">{{successMessage}}</div>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{errorMessage}}</div>

    <div class="form-group form-row">
        <div *ngIf="!isNewArticle" class="col-auto">
            <button class="btn btn-primary" [disabled]="isUpdating" (click)="save()">שמור</button>
        </div>

        <div *ngIf="!isNewArticle" class="col-auto">
            <button class="btn btn-danger" [disabled]="isUpdating" (click)="delete()">מחק</button>
        </div>

        <div *ngIf="isNewArticle" class="col-auto">
            <button class="btn btn-primary" [disabled]="isUpdating" (click)="submit()">שלח</button>
        </div>
    </div>
</form>
