<nav class="navbar navbar-expand navbar-dark bg-dark" dir="rtl">
    <a class="navbar-brand" [routerLink]="['/']">רגע יומי - ניהול</a>
    <div class="collapse navbar-collapse">
        <!--<ul class="navbar-nav">-->
            <!--<li class="nav-item" [routerLinkActive]="['active']">-->
                <!--<a class="nav-link" [routerLink]="['articles-page']">מאמרים</a>-->
            <!--</li>-->
        <!--</ul>-->
    </div>

    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link download-data-button" (click)="downloadData()">הורדת תוכן</a>
        </li>
    </ul>
</nav>

<div class="page-container">
    <router-outlet></router-outlet>
</div>
