<div *ngIf="!articles || !categories" class="loader-container">
    <div class="loader"></div>
</div>

<div *ngIf="articles && categories" class="page-content">
    <nav class="navbar navbar-light bg-light">
        <button class="btn btn-success" (click)="navigate(['/article-page'])">הוסף מאמר</button>

        <form class="form-inline">
            <label for="searchType">חפש בתוכן המאמרים</label>
            <input class="form-control search-type-checkbox"
                   id="searchType"
                   type="checkbox"
                   name="searchType"
                   [(ngModel)]="searchOnArticleContent"
                   (change)="onSearchTypeChange()">

            <input class="form-control"
                   dir="rtl"
                   type="search"
                   placeholder="חפש..."
                   name="searchText"
                   [(ngModel)]="searchText"
                   (input)="onSearchTextChange()">
        </form>
    </nav>

    <table class="table table-hover" dir="rtl">
        <thead>
            <tr>
                <th scope="col" style="width: 5%">#</th>
                <th scope="col" style="width: 25%">כותרת</th>
                <th scope="col">קטגוריה</th>
                <th scope="col">נושא</th>
                <th scope="col">תאריך עברי</th>
                <th scope="col">תאריך שינוי</th>
                <th scope="col" class="text-center" style="width: 10%">צפיות</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let article of articles; let articleIndex = index">
                <th scope="row" class="index-column">
                    {{articleIndex + 1}}
                    <a (click)="navigate(['/article-page', article.key])"></a>
                </th>
                <td>{{article.title}}</td>
                <td>{{article.category | categoryName}}</td>
                <td>{{article.topic}}</td>
                <td>{{article.hebrewDate}}</td>
                <td>{{article.lastModifiedDate | date:'medium'}}</td>
                <td class="text-center">0</td>
            </tr>
        </tbody>
    </table>

    <p *ngIf="articles.length === 0" class="text-center">אין תוצאות</p>
</div>
